Portal/Service References/ServiceReference3/RssService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getRssNews">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="x" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRssNewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRssNewsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getRssNewsSoapIn">
    <wsdl:part name="parameters" element="tns:getRssNews" />
  </wsdl:message>
  <wsdl:message name="getRssNewsSoapOut">
    <wsdl:part name="parameters" element="tns:getRssNewsResponse" />
  </wsdl:message>
  <wsdl:portType name="RssServiceSoap">
    <wsdl:operation name="getRssNews">
      <wsdl:input message="tns:getRssNewsSoapIn" />
      <wsdl:output message="tns:getRssNewsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RssServiceSoap" type="tns:RssServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRssNews">
      <soap:operation soapAction="http://tempuri.org/getRssNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RssServiceSoap12" type="tns:RssServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRssNews">
      <soap12:operation soapAction="http://tempuri.org/getRssNews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RssService">
    <wsdl:port name="RssServiceSoap" binding="tns:RssServiceSoap">
      <soap:address location="http://localhost:37257/RssWebService/RssService.asmx" />
    </wsdl:port>
    <wsdl:port name="RssServiceSoap12" binding="tns:RssServiceSoap12">
      <soap12:address location="http://localhost:37257/RssWebService/RssService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>